<script type="text/javascript">
$(document).ready(function(){
	
	$('.gallery').cycle({ 
		timeout:6000,
		pager:'.pagination',
		slideExpr:'div.img',
		activePagerClass:'s',
		pagerAnchorBuilder:pagerFactory
	});

	function pagerFactory(idx, slide) {
		return '<a href="#">&nbsp;</a>';
	};
	
});
</script>

<div class="blue-strip"></div>
<div class="banner">
	<div class="container">
		<div class="col-lg-8">
			<div class="home_gallery">
				<div style="position: relative; overflow: hidden;border: 1px solid #DDDDDD;" class="gallery">
					{% if agency.carousel_items == empty or agency.carousel_items < 2 %}
						<p>Add at least two carousel items.</p>
					{% endif %}
					{% for carousel_item in agency.carousel_items %}
						<div style="position: absolute; top: 0px; left: -633px; display: none; z-index: 2; opacity: 1; width: 633px; height: 380px;" class="img">
							<img src="{{ carousel_item.image | url_for_agency_logo }}" title="" height="380" width="633"/>
							<div class="image-caption">	
								<p>
									<a href="{{ carousel_item.link_url }}"><strong>{{ carousel_item.title }}</strong></a><br />
									{{ carousel_item.standfirst | truncate:80 }}
									<strong><a href="{{ carousel_item.link_url }}">Read more</a></strong>
								</p>
							</div>
						</div>
					{% endfor %}			
				</div>
				<div class="pagination"></div>	
			</div>
		</div>
		<div class="col-lg-4">		  
			<div class="propertySearchBox" id="search_form">
				<h3>Property Search</h3>
				  <form action='/search' id='search' method='get' onsubmit="return false;" class="advanced">
				  <fieldset id="search-fields">
					<input type='hidden' id ='place_id' name='place_id' value='{{place_id}}' class='search' / >
					<div class="radios">
						<input type="radio" name="channel" value="sales" checked id="buy"> 
						<label>For Sale</label>
						<input type="radio" name="channel" value="lettings" id="let"> 
						<label>To Let</label>
					</div>
					<div class="search_wrapper" id="row1">
					  <div class="search_row">        
						<input data-provide="typeahead" class='search' placeholder='Town or Postcode' type="text" id='location' name="location" value="{{location_field}}" onUnfocus="this.theform.submit()"/>
					  </div>
					</div>
					<div class="search_wrapper" id="row2">
					  <div class="search_row">
						<div>
						  <select id="min_beds" class="formelement_bg search" name='min_beds'>
							<option value="" title="Min beds">Beds min</option>
							<option value="1" title="1 Bed">1 bed</option>
							<option value="2" title="2 Beds">2 beds</option>
							<option value="3" title="3 Beds">3 beds</option>
							<option value="4" title="4 Beds">4 beds</option>
							<option value="5" title="5 Beds">5 beds +</option>
						  </select>
						  <select id="max_beds" class="formelement_bg search" name='max_beds'>
							<option value="" title="Min beds">Beds max</option>
							<option value="1" title="1 Bed">1 bed</option>
							<option value="2" title="2 Beds">2 beds</option>
							<option value="3" title="3 Beds">3 beds</option>
							<option value="4" title="4 Beds">4 beds</option>
							<option value="5" title="5 Beds">5 beds +</option>
						  </select><br />
						  <select id="min_price" class="formelement_bg search" name='min_price'>
							<option value="" title="Min price">Price min</option>
						  </select> 
						  <select id="max_price" class="formelement_bg search" name='max_price'>
							<option value="" title="Max price">Price max</option>
						  </select><br />
						  <select id="type" class="formelement_bg search" name='type'>
							  <option value="" title="Max beds">Property type</option>
							  {{ agency | tag_dropdown_list }}
						  </select>
						</div>
					  </div>
					</div>
				  </fieldset>
				  <div class="submit">
					  <button onclick="Ctesius.Actions.submitSearchForm(); return false;" type="submit" class="btn">Search</button>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="articles container">
	{% content_block home_title %}
		{% unless content_block == 'No content chunk found: home_title' %}
			{{content_block}}
		{% endunless %}
	{% endcontent_block %}
	{% content_block 'homepage_content_1' multiple:true %}
		{% for block in content_blocks limit: 4%}
			<div class="col-lg-3">
				{{block.content_block}}
			</div>
		{%endfor%}
	{%endcontent_block%}
</div>
