<script type="text/javascript">
$(document).ready(function(){
	
	$('.gallery').cycle({ 
		timeout:6000,
		pager:'.pagination',
		slideExpr:'div.img',
		activePagerClass:'s',
		pagerAnchorBuilder:pagerFactory
	});

	function pagerFactory(idx, slide) {
		return '<a href="#">&nbsp;</a>';
	};
	
});
</script>

<div class="home_gallery">
	<div style="position: relative; overflow: hidden;border: 1px solid #DDDDDD;" class="gallery">
		{% if agency.carousel_items == empty or agency.carousel_items < 2 %}
			<p>Add at least two carousel items or <a href="http://{{agency.name}}.homeflow.co.uk/configure/website/carousel_items">click here</a> to select auto fill sales or lettings.</p>
		{% endif %}
		{% for carousel_item in agency.carousel_items %}
			<div style="position: absolute; top: 0px; left: -633px; display: none; z-index: 2; opacity: 1; width: 633px; height: 400px;" class="img">
				<img src="{{ carousel_item.image | url_for_agency_logo }}" title="" height="400" width="633" style="width:633px;height:400px" />
				<div class="image-caption">	
					<p>
						<a href="{{ carousel_item.link_url }}"><strong>{{ carousel_item.title }}</strong></a><br />
						{{ carousel_item.standfirst | truncate:80 }}
						<strong><a href="{{ carousel_item.link_url }}">Read more</a></strong>
					</p>
				</div>
			</div>
		{% endfor %}			
	</div>
	<div class="pagination"></div>	
</div>
