<div class="banner">
	<div class="container">
		<div class="col-lg-8">
			<div class="gallery-wrapper">
				<div class="gallery">
					{% for carousel_item in agency.carousel_items %}
						<img src="{{ carousel_item.image | url_for_agency_logo }}" data-details1="{{ carousel_item.title }}" data-details2="{{ carousel_item.standfirst | truncate:300 }}" data-details3="{{ carousel_item.link_url }}" alt="" />
					{% endfor %}
				</div>
			</div>	
			<div class="gallery-details">
				<h2 class="details"></h2>
				<p></p>
				<h3 class="sub_header">View full details</h3>
			</div>
		</div>
		<div class="col-lg-4">		  
			<div class="propertySearchBox" id="search_form">
				<div class="title">Property Search</div>
				  <form action='/search' id='search' method='get' onsubmit="return false;" class="advanced">
				  <fieldset id="search-fields">
					<input type='hidden' id ='place_id' name='place_id' value='{{place_id}}' class='search' / >
					<div class="radios">
						<input type="radio" name="channel" value="sales" checked id="buy"> 
						<label>For Sale</label>
						<input type="radio" name="channel" value="lettings" id="let"> 
						<label>To Let</label>
					</div>
					<div class="search_wrapper" id="row1">
					  <div class="search_row">        
						<input data-provide="typeahead" class='search' placeholder='Town or Postcode' type="text" id='location' name="location" value="{{location_field}}" onUnfocus="this.theform.submit()"/>
					  </div>
					</div>
					<div class="search_wrapper" id="row2">
					  <div class="search_row">
						<div>
						  <select id="min_beds" class="formelement_bg search" name='min_beds'>
							<option value="" title="Min beds">Beds min</option>
							<option value="1" title="1 Bed">1 bed</option>
							<option value="2" title="2 Beds">2 beds</option>
							<option value="3" title="3 Beds">3 beds</option>
							<option value="4" title="4 Beds">4 beds</option>
							<option value="5" title="5 Beds">5 beds +</option>
						  </select>
						  <select id="max_beds" class="formelement_bg search" name='max_beds'>
							<option value="" title="Min beds">Beds max</option>
							<option value="1" title="1 Bed">1 bed</option>
							<option value="2" title="2 Beds">2 beds</option>
							<option value="3" title="3 Beds">3 beds</option>
							<option value="4" title="4 Beds">4 beds</option>
							<option value="5" title="5 Beds">5 beds +</option>
						  </select><br />
						  <select id="min_price" class="formelement_bg search" name='min_price'>
							<option value="" title="Min price">Price min</option>
						  </select> 
						  <select id="max_price" class="formelement_bg search" name='max_price'>
							<option value="" title="Max price">Price max</option>
						  </select><br />
						  <select id="type" class="formelement_bg search" name='type'>
							  <option value="" title="Max beds">Property type</option>
							  {{ agency | tag_dropdown_list }}
						  </select>
						</div>
					  </div>
					</div>
				  </fieldset>
				  <div class="submit">
					  <button onclick="Ctesius.Actions.submitSearchForm(); return false;" type="submit" class="btn">Search</button>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="articles container">
	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit Ut enim ad minim veniam</h3>
	<h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit Ut enim ad minim veniam..."  <a href="">Find out more</a></h4>
	{% content_block homepage_content_1 %}
		{% if content_block_found %}
			<div class="col-lg-3">
				
				{{ content_block }} <a href="">Read more</a>
				
			</div>
		{% else %}
			<p>Can't find block</p>
		{% endif %}
	{% endcontent_block %}
	<div class="col-lg-3">
		<img src="{{'portals.jpg' | theme_image_url}}">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="">Read more</a>
		</p>
	</div>
	<div class="col-lg-3">
		<img src="{{'like-follow-social-networking.jpg' | theme_image_url}}">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="">Read more</a>
		</p>
	</div>
	<div class="col-lg-3">
		<img src="{{'ad.jpg' | theme_image_url}}">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="">Read more</a>
		</p>
	</div>
</div>