{% raw %}
	<script id="user_micro_template" type="text/liquid">
	<div class="user_header">
		{% if user_type ='persisted' %}
{% endraw %}
		{% raw %}
			<p>
				Welcome back, <a href="#user">{{user.first_name }} {{user.last_name }}</a><br>
				<a id="saved_properties_link" href="#/user/saved_properties">{{saved_properties.length }} shortlisted properties</a><br>
				<a id="saved_searches_link" href="#/user/alerts">{{saved_searches.length }} saved searches</a>
			</p>
		{% else %}
		{% endraw %}
			<p>
				<a href="#user">Register</a> or <a href="#user">Sign in</a><br />
				{% raw %}
				<a id="saved_properties_link" href="#/user/saved_properties">{{saved_properties.length }} shortlisted properties</a><br>
				<a id="saved_searches_link" href="#/user/alerts">{{saved_searches.length }} saved searches</a>
			</p>
			{% endif %}
		{% endraw %}
	</div>
</script>

