{% raw %}
	<script id="favourite_properties_template" type="text/liquid">
    	<div style="height: 100%;" id="shortlist" class="block nomargin">
		<h2>My Property Shortlist</h2>
		{% for property in properties %}
			<div id="mini_property_{{property.property_id}}" class="mini_property mini_property_{{property.property_id}}" style="">
				<div style="position:relative;" class="clearfix">
					<img src="/liquid_assets/images/delete.png" id="remove_icon_{{property.property_id}}" class="remove_icon" style="display: none;">
					<a href="/properties/{{property.property_id}}/{{property.channel}}"><img src="{{ property.photo }}"></a>
					<div id="featured_property_data">
						<ul>
							<li>{{ property.bedrooms }} bedrooms</li>
							<li><strong>{{ property.price }}</strong></li>
							<li>{{ property.display_address }}</li>
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
    	</div>
	</script>
{% endraw %}

<!--{% raw %}
  <script id="saved_properties_template" type="text/liquid">
	  <div id="property_shortlist" class="content-block">
		  <h2>My property shortlist</h2>
		  <div id='favourite_property_list' class="content">

		  </div>
	  </div>
  </script>

  <script id="saved_property_template" type="text/liquid">
    <div id="mini_property_{{property.property_id}}" class="mini_property mini_property_{{property.property_id}}" style="">
      <div style="position:relative;" class="clearfix">
        <img src="/liquid_assets/images/delete.png" id="remove_icon_{{property.property_id}}" class="remove_icon" onclick="javascript:Ctesius.Actions.removeSavedProperty({{property.property_id}})">
        <a href="{{property.property_url}}"><img src="{{ property.small_photo }}"></a>
        <div class="featured_property_data">
          <ul>
            <li><a href="{{property.property_url}}">{{ property.bedrooms }} bedrooms</a></li>
            <li><a href="{{property.property_url}}">{{ property.price }}</a></li>
            <li><a href="{{property.property_url}}">{{ property.road_name }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </script>
{% endraw %}-->
