<h4><a href="{{branch | url_for_branch}}">{{ branch.name }} office</a> </h4>
<h4>{% if branch and branch.default_vox_number %}Tel: {{branch.default_vox_number}}{% endif%}</h4>
{% unless branch.staff_profiles == empty %} 
{% assign profile = branch.staff_profiles.first %}
	<div class="staff-property">
		<a href="{{profile | url_for_staff_member}}">
			<img src="{{profile.avatar | url_for_staff_profile_avatar}}">
		</a>
		<p>Talk to {{profile.name}} about this property or fill out the form below.</p>
	</div>
{% else %}
	<p style="font-size:13px">To send us a message about this<br> property, fill out the form below.</p>
{% endunless%}

