<div style="margin-top:20px">
	<div class="fb-send" data-href="{{agency || url_for_agency}}/{{page | url_for_page}}"></div>

	<a href="{{agency || url_for_agency}}/{{page | url_for_page}}" class="twitter-share-button" data-lang="en">Tweet</a>    

	<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{agency || url_for_agency}}/{{page | url_for_page}}"></div>
</div>