<div class="mini_staff_member clearfix">
	<div class="details clearfix">
		<a href="{{ staff_member | url_for_staff_member : staff_member.agency }}" class="avatar"><img src="{{ staff_member.avatar | url_for_staff_profile_avatar : "82x82" }}"></a>
		<a href="{{ staff_member | url_for_staff_member : staff_member.agency }}">{{staff_member.name}}</a>
		<span>{{staff_member.job_title }}</span>
		{% unless replace_agency_with_social_icons %}
			<a href="{{ staff_member.branch | url_for_branch : staff_member.agency}}">{{ staff_member.agency.name }}</a>
		{% endunless %}
		<span>{{staff_member.branch.contact_telephone}}</span>
		{% if replace_agency_with_social_icons %}
		  {% if staff_member.agency.agency_portal_preferences.enable_social_media_links %} 
			{% if staff_member.has_social_links %}
			  <div class="social_icons">
				{% if staff_member.facebook_uri %}<a href="{{staff_member.facebook_uri}}" target="_blank"><img src="{{ 'icon-facebook' | theme_image_url }}" width="20" height="20" style='width:20px;height:20px;'></a>{%endif%}
				{% if staff_member.twitter_uri %}<a href="{{staff_member.twitter_uri}}" target="_blank"><img src="{{ 'icon-twitter' | theme_image_url }}" width="20" height="20" style='width:20px;height:20px;'></a>{%endif%}
				{% if staff_member.linkedin_uri %}<a href="{{staff_member.linkedin_uri}}" target="_blank"><img src="{{ 'icon-linkedin' | theme_image_url }}" width="20" height="20" style='width:20px;height:20px;'></a>{% endif %}
				{% if staff_member.googleplus_uri %}<a href="{{staff_member.googleplus_uri}}" target="_blank"><img src="{{ 'icon-google-plus' | theme_image_url }}" width="20" height="20" style='width:20px;height:20px;' ></a>{%endif%}
			  </div>
			{% endif %}
		  {% endif %}
		{% endif %}
	</div>
</div>    

