{% if pagination.total_count != 0 %}
  <li>Displaying {{ pagination.from_record}} - {{pagination.to_record}} of {{pagination.total_count}} results</li>
  {% if pagination.has_prev_page %}
	  <li>|</li>
	  <li>&lt;<a href="{{pagination.previous_page_link}}">Previous 10</a></li>
  {% endif %}
  {% if pagination.has_next_page %}
 	 <li><a href="{{pagination.next_page_link}}">Next 10</a>&gt;</li>
  {% endif %}
{% endif %}
