{% if pagination != nil %}
  {% if pagination.total_count != 0 %}
	  Displaying {{ pagination.from_record}} - {{pagination.to_record}} of {{pagination.total_count}} results
	  {% if pagination.has_prev_page %}&lt;<a href="{{pagination.previous_page_link}}">Previous 10</a>{% endif %}
	  {% if pagination.has_next_page %}<a href="{{pagination.next_page_link}}">Next 10</a>&gt;{% endif %}
  {% endif %}
{% endif %}