<div class="property-small">
	<div class="row">
		<a href="{{property | url_for_property}}">
			<img src="{{property.photos.first | url_for_property_asset:"176x133"}}">
		</a>
		<h4>
			<a href="{{property | url_for_property}}">{{property.display_address}}</a>
		</h4>
		<p>
			{{property.price}}
		</p>
		<p>
			{{property.short_description | truncate:100}}
		</p>
		<p>
			<a href="{{property | url_for_property}}">Full details</a> |
			<a id="shortlist_link_{{ property.property_id }}" href="#" onclick="Ctesius.Actions.addSavedProperty({{property.property_id}}); return false;">Save to shortlist</a> or call 
			<a href="{{ property.agency.branch | url_for_branch : property.agency }}">{{property.agency.agency_name}}</a>  
			{% if property.vox_number %}on {{property.vox_number}} {%endif%}
			{% if property.comment %}<div class="quote">&ldquo;{{ property.comment }}&rdquo;</div>{% endif %}
		</p>
	</div>
</div>
<hr />

