<ul class='thumbnails'>
	{%for property in properties %}
		<li>
			<div class="thumbnail row">
				<a href="{{ property | url_for_property }}">
					<img class='span4' src="{{ property.photos.first | url_for_property_asset : '260x180'}}" alt="">
				</a>
				<div class='span4'>
					<a href="{{ property | url_for_property }}">
					<h4>{{property.display_address}}</h4>
					</a>
					<p>{{property.price}}</p>
					<p>{{property.short_description | truncate : 150}}</p>
					<p><a href="{{ property | url_for_property }}">Full details</a> | <a href="#">Save to shortlist</a> or call <a href="#">Agent</a> on 01392 5838473</p>
				</div>
			</div>
		</li>
	{%endfor%}
</ul>
