<div class="blue-banner">
	<div class="container">
		<div class="col-lg-7">
			<h3>{{property.display_address}}</h3>
			<h4>{{property.bedrooms}} bedrooms</h4>
		</div>
		<div class="col-lg-5">
			<h3>{{property.price}}</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<a href="#"><small><< Back to search</small></a>
			
				<ul class="nav nav-tabs">
					<li><a href="#tabs/home" id="tab_home" class="selected">Photos</a></li>
					<li><a href="#tabs/details" id="tab_details">Full details</a></li>
					<li><a href="#tabs/map" id="tab_map">Map</a></li>
					<li><a href="#tabs/satellite" id="tab_satellite">Satellite</a></li>
					<li><a href="#tabs/streetview" id="tab_streetview">Streetview</a></li>
					{% if property.floorplans.first %}
						<li><a href="#tabs/floorplan" id="tab_floorplan">Floorplan</a></li>
					{% endif %}
					{% if property.epc_charts.first %}
						<li><a href="#tabs/epc" id="tab_epc">EPC</a></li>
					{% endif %}
					{% if property.brochures.first %}
						<li><a href="#tabs/brochure" id="tab_brochure">Brochure</a></li>
					{% endif %}
				</ul>
			
			<div id="tab-content">
				<div id="togglable_home" class="togglable_area clearfix">
					<div class="photo-slider">
						<img src="{{property.photos.first | url_for_property_asset : '638x425'}}" alt="">
						<div class="photo-reel">
							<div class="photo-reel-dirnav">
								<a href="#" class="prev">Prev</a>
								<a href="#" class="next">Next</a>
							</div>
							{% for photo in property.photos %}
								<img src="{{photo | url_for_property_asset : "110x74" }}">
							{% endfor %}
						</div>
					</div>
					{{property.description}}
				</div>
				<div id="togglable_details" class="togglable_area hidden">
					{{property.description}}
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h4>{{ branch.name }} office</h4>
			<h4>Tel: 01392 8385853</h4>
			{% unless branch.staff_profiles == empty %} 
			{% assign profile = branch.staff_profiles.first %}
				<div class="staff-property">
					<a href="{{profile | url_for_staff_member}}">
						<img src="{{profile.avatar | url_for_staff_profile_avatar: "105x"}}">
					</a>
					<p>Talk to {{profile.name}} about this property or fill out the form below.</p>
				</div>
			{% else %}
				<p>To send us a message about this property, fill out the form below.</p>
			{% endunless%}
			<form action="/properties/{{property.property_id}}/{{property.primary_channel}}/leads" id="contact_form" class="propery-form" method="post">
				<input name="lead_client[first_name]" type="text" placeholder="First Name">
				<input name="lead_client[last_name]" type="text" placeholder="Last Name">
				<input name="lead_client[email]" type="text" placeholder="Email">
				<input name="lead_client[tel_home]" type="text" placeholder="Telephone">
				<textarea name="lead[message]" placeholder="Message"></textarea>
				<input type="submit" value="Send message" class="btn">
			</form>
			{% if branch.agency.agency_portal_preferences.staff_profiles_enabled_on_property_pages %}
				{% assign staff_list = branch.staff_profiles %}
				{% include 'sidebar_blocks/staff_list'%}
			{% endif %}
		</div>
	</div>
</div>
