<script type="text/javascript">

  $(window).load(function() {
     $('#slider').nivoSlider({
        effect: 'fade',               // Specify sets like: 'fold,fade,sliceDown'
        animSpeed: 500,               // Slide transition speed
        pauseTime: 4000,              // How long each slide will show
        directionNav: true,           // Next & Prev navigation
        controlNav: true,            // 1,2,3... navigation
        controlNavThumbs: true       // Use thumbnails for Control Nav
    });

    $('#slider').nivoSlider();

  });
</script>

<script type="text/javascript">
	Ctesius.registerEvent('render_tab', function(tab_name){
		switch(tab_name){
			case 'map':
				{% gmap_for property as roadmap in single_map %}
			break;
			case 'streetview':
				{% gmap_for property as streetview in streetview %}
			break;
			case 'satellite':
				{% gmap_for property as satellite in satellite %}
			break;
		}
	});
</script>

<script type="text/javascript">
	Ctesius.addConfig('property_id', '{{property.property_id}}')
</script>

<script>
	$(document).ready(function(){
		Ctesius.registerEvent('user_logged_in', function(user){
			$('#lead_client_firstname_autofil').val(user.get('first_name'));
			$('#lead_client_secondname_autofil').val(user.get('last_name'));
			$('#lead_client_email_autofil').val(user.get('email'));
			$('#lead_client_phone_autofil').val(user.get('tel_home'));
		});
	});

	$('a.back-to-results').attr('href', document.referrer);
</script>

<div class="secondary-banner">
	<div class="container">	
		<div class="col-lg-12"><div id='alert_location'></div></div>
		<div class="col-lg-7">
			<h3>{{property.display_address}}</h3>
			<h4>{{property.bedrooms}} bedrooms</h4>
		</div>
		<div class="col-lg-5">
			<h3>{{property.price}}</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
		
			<a onclick="window.history.back();" style="cursor:pointer"><small>&lt;&lt; Back to search</small></a>
			
			<ul class="toggable-nav">
				<li><a href="#tabs/home" id="tab_home" class="selected">Photos</a></li>
				<li><a href="#tabs/details" id="tab_details">Full details</a></li>
				<li><a href="#tabs/map" id="tab_map">Map</a></li>
				<li><a href="#tabs/satellite" id="tab_satellite">Satellite</a></li>
				<li><a href="#tabs/streetview" id="tab_streetview">Streetview</a></li>
				{% if property.floorplans.first %}
					<li><a href="#tabs/floorplan" id="tab_floorplan">Floorplan</a></li>
				{% endif %}
				{% if property.epc_charts.first %}
					<li><a href="#tabs/epc" id="tab_epc">EPC</a></li>
				{% endif %}
				{% if property.brochures.first %}
					<li><a href="#tabs/brochure" id="tab_brochure">Brochure</a></li>
				{% endif %}
			</ul>
			<div id="tab-content">
				<div id="togglable_home" class="togglable_area clearfix">	
					<div id="slider" class="nivoSlider">
						{% for photo in property.photos %}
							<img src="{{photo | url_for_property_asset : '638x425'}}" alt="" data-thumb="{{photo | url_for_property_asset}}">
						{% endfor %}
					</div>
					{% if property.sanitized_short_description == "<span></span>" %}
						{{property.description || truncate : 300}}
					{% else %}
						{{property.sanitized_short_description}}
					{% endif%}
					<a href="#tabs/details">Read more</a>
				</div>
				<div id="togglable_details" class="togglable_area hidden">
					{{property.description}}
				</div>
				<div id="togglable_map" class="togglable_area hidden">
					<div id='single_map' class="google_map_container"></div>
				</div>
				<div id="togglable_satellite" class="togglable_area hidden">
					<div id='streetview' class="google_map_container"></div>
				</div>
				<div id="togglable_satellite" class="togglable_area hidden">
					<div id='satellite' class="google_map_container"></div>
				</div>
				{% if property.floorplans.first %}
					<div id="togglable_floorplan" class="togglable_area hidden">
						{% for floorplan in property.floorplans %}
							<img src="http://mr0.homeflow.co.uk/{{ floorplan.image }}">
						{% endfor %}
					</div>
				{% endif%}
				{% if property.epc_charts.first %}
					<div id="togglable_epc" class="togglable_area hidden">
					{% for epc_chart in property.epc_charts %}
						{% if epc_chart.is_pdf? %}
							<a href="{{epc_chart | url_for_property_asset}}" target="_blank" class="pdf_thumb"><img src="{{epc_chart | url_for_property_photo : "200x200R" }}" /> Download PDF EPC</a>
							{% else %}
							<img src="{{epc_chart | url_for_property_asset}}">
						{% endif %}
					{% endfor %}
					</div>
				{% endif %}
				{% if property.brochures.first %}
					<div id="togglable_brochure" class="togglable_area hidden">
					{% for brochure in property.brochures %}
						{% if brochure.is_pdf? %}
							<a href="{{brochure | url_for_property_asset}}" target="_blank" class="pdf_thumb"><img src="{{brochure | url_for_property_photo : "200x200R" }}" /> Download PDF Brochure</a>
							{% else %}
							<img src="{{brochure | url_for_property_asset}}">
						{% endif %}
					{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-lg-4">
			{% include 'sidebar_blocks/branch_details'%}
			<form action="/properties/{{property.property_id}}/{{property.primary_channel}}/leads" class="contact-form" method="post">
				<input name="lead_client[first_name]" type="text" class="required" placeholder="First Name"><span class="asterisk">*</span>
				<input name="lead_client[last_name]" type="text" class="required" placeholder="Last Name"><span class="asterisk">*</span>
				<input name="lead_client[email]" type="text" class="required email" placeholder="Email"><span class="asterisk">*</span>
				<input name="lead_client[tel_home]" type="text" placeholder="Telephone">
				<textarea name="lead[message]" placeholder="Message"></textarea>
				<input type="submit" value="Send message" class="btn">
			</form>
			<div class="terms_form">
				By submitting this form, you agree to our <a href="/pages/terms-of-use">terms.</a>
			</div>
			{% if branch.agency.agency_portal_preferences.staff_profiles_enabled_on_property_pages %}
				{% assign staff_list = branch.staff_profiles %}
				{% include 'sidebar_blocks/staff_list'%}
			{% endif %}
		</div>
	</div>
</div>
