<div class="blue-banner">
	<div class="container">
		<div class="col-lg-12">
			<h3>{{property.display_address}}, {{property.price}}</h3>
			<h4>{{property.bedrooms}} bedrooms</h4>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<img src="{{property.photos.first | url_for_property_asset : '638x425'}}" alt="">
			<div class="photo-slider">
				<img src="{{property.photos.second}}" />
				<img src="{{property.photos.third}}" />
				<img src="{{property.photos.fourth}}" />
				<img src="{{property.photos.fifth}}" />
			</div>
		</div>
		<div class="col-lg-4">
			<h4>Call us about this property:<h4>
			<h4>01392 182 833</h4>
			<h4>
				<a href="#">Request Details</a>
			</h4>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-lg-7">
		{{property.description}}
	</div>
	<div class="col-lg-5">
	
	</div>
</div>