<div class="container">
    <div class="col-lg-9">
        <h2>{{branch.name}} Office</h2>
		<strong>
			{{ branch.address }}
		</strong>
			<p>
				<img src="{{branch.photo | url_for_generic_image}}" alt="{{branch.name}} office" style="width:223px;float:left;margin:15px 15px 0 0" />
				{{branch.description}}
			</p>
			<p>Call us
    </div>
	<div class="col-lg-3">
		
	</div>
</div>















