<div class="container">
    <div class="col-lg-9">
        <h2>{{branch.name}} Office</h2>
			<p>
			<strong>
				{{ branch.address }}
			</strong>
			<img src="{{branch.photo | url_for_generic_image}}" alt="{{branch.name}} office" style="width:223px;" />
			</p>
			{{branch.description}}
    </div>
	<div class="col-lg-3">
	</div>
</div>















