
<!DOCTYPE html>
<html lang="en">
<head>

	{% if agency.mobile_site_enabled %}
	<script src='http://h.mobile.homeflow.co.uk/redirect?name={{agency.subdomain}}' type='text/javascript'></script>
	{% endif %}

	<meta charset="utf-8">
	<title>{{page.page_title}}</title>
	<meta name="description" content="{{page.page_description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAoT2OYrXCnSNn8N8OlndkLA_uw9kODjaQ&libraries=geometry&sensor=false">
	</script>

	{{ "application" | javascript_include_tag }}
	{{ "application" | stylesheet_link_tag }}
	{{ "bootstrap" | theme_stylesheet_link_tag }}
	{{ "hoy" | theme_stylesheet_link_tag }}
	{{ "properties" | theme_stylesheet_link_tag }}
	{{ "forms" | theme_stylesheet_link_tag }}
	{{ "custom" | theme_stylesheet_link_tag }}
	{{ "font-awesome" | stylesheet_link_tag }}

	{% include 'layouts/js_templates' %}
	{% include 'layouts/js_event_registers' %}
	{% include 'common_chunks/social' %}

</head>
<body class="{{page.controller_name}} {{page.action_name}}">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="col-lg-4">
				<a href="/">
					<img src="{{ agency.logo | url_for_agency_logo }}" class="logo1">
				</a>
			</div>
			<div class="col-lg-8">
				<div id="user_micro_view"></div>
				<div class="nav1">
					|
					{% assign primary_menu = 'primary' | site_menu %}
					{% for menu_item in primary_menu.items %}
					<a class="navigation {{menu_item.dom_id}}" data-id="{{menu_item.dom_id}}" href="{{ menu_item.url }}">{{ menu_item.name }}</a> |
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	{% if page.controller_name == 'home' %}

Dog
	{% else %}
		<div class="secondary-banner">
			<div class="container">
				<div class="col-lg-12"><div id='alert_location'></div></div>
				{% if page.header_content %}
					{{ page.header_content }}
				{% endif %}
			</div>
		</div>
	{% endif %}
	
	<div class="container">
		<div class="col-lg-8">
			{{ content_for_layout }}
		</div>
		<div class="col-lg-4">
			{{page.sidebar}}
		</div>
	</div>
	
	<footer>
		<div class="bottom">
			<div class="container">
				{% content_block site_footer %}
					{% if content_block == 'No content chunk found: site_footer' %}
						<p>Couldn't find footer chunk.</p>
					{% else %}
						{{ content_block }}
					{% endif %}
				{% endcontent_block %}
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="col-lg-12">
					<p>
						{% assign footer_menu = 'footer' | site_menu %}
						{% for menu_item in footer_menu.items %}
							<a class="navigation {{menu_item.dom_id}}" data-id="{{menu_item.dom_id}}" href="{{ menu_item.url }}">{{ menu_item.name }}</a>
							<span style="padding-left:2px">|</span>
						{% endfor %}
						<span style="color:{{ theme_preferences.on_footer_text_colour }};padding: 0px 2px 0px 2px;">
							Copyright &copy; {{ agency.name }}
						</span>
						<span style="padding-left:2px">|</span>
						<span style="color:{{ theme_preferences.on_footer_text_colour }};padding: 0px 2px 0px 2px;">Powered by Homeflow</span>
						<img src="liquid_assets/images/hf.png" height="10" width="80" />
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
