
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {{ "application" | javascript_include_tag }}
    {{ "application" | stylesheet_link_tag }}
	{{ "bootstrap" | theme_stylesheet_link_tag }}
    {{ "hoy" | theme_stylesheet_link_tag }}
	{{ "forms" | theme_stylesheet_link_tag }}
    {{ "font-awesome" | stylesheet_link_tag }}
	
	 <script>
        Ctesius.addConfig('branches', {% include_as_json branches/branches_list %});
        Ctesius.addConfig('branch_map_element', 'map');
    </script>
	
	<script>
		$(window).load(function(){
			$('.gallery').cycle({ 
				fx:     'fade',
				timeout:   5000,
				pager:    '#pager',
				pagerAnchorBuilder: function(idx, slide){
				return '<a href="#"></a>';
				},
				before:    function(idx, slide){
				var details1 = $(this).attr('data-details1');
				var details2 = $(this).attr('data-details2');
				var details3 = $(this).attr('data-details3');
				var id = $(this).attr('data-id');

				$('.gallery-details h2.details a').html(details1)
				$('.gallery-details h2.details a').attr('href', details3);
				$('.gallery-details p').html(details2);
				$('.gallery-details h3.sub_header a').attr('href', details3);
				},
				activePagerClass: 's'
			});
		});
	</script>
  </head>
  <body>
    {% include 'layouts/js_templates' %}
	
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="col-lg-3">
				<a href="http://xradarhomes-holding.agent.staging.homeflow.co.uk/">
					<img src="{{'hoy.png' | theme_image_url}}" class="logo1">
				</a>
			</div>
			<div class="col-lg-9">
				<div class="nav1">	
					{% assign primary_menu = 'primary' | site_menu %}
						{% for menu_item in primary_menu.items %}
						  <a class="navigation {{menu_item.dom_id}}" data-id="{{menu_item.dom_id}}" href="{{ menu_item.url }}">{{ menu_item.name }}</a> |
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
    {{ content_for_layout }}
    <footer>
      	<div class="bottom">
			<div class="container">
				<div class="col-lg-4">
					<div class="bottom-article">
						<h3>Opening hours...</h3>
						<dl>
							<dt>Monday</dt>
							<dd>10.30am - 7.00pm</dd>
							<dt>Tuesday</dt>
							<dd>9:00am - 5:30pm</dd>
							<dt>Wednesday</dt>
							<dd>9:00am - 6:00pm</dd>
							<dt>Thursday</dt>
							<dd>9:00am - 7:00pm</dd>
							<dt>Friday</dt>
							<dd>9:00am - 5:30pm</dd>
							<dt>Saturday</dt>
							<dd>9:00am - 4:00pm</dd>
							<dt>Sunday</dt>
							<dd>Closed</dd>
						</dl>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="bottom-article">
						<h3>Contact us...</h3>
						<p>
							108 Fore St <br /> 
							City Centre, <br /> 
							Exeter<br /> 
							EX4 3HY
						</p>
						<p>
							T: 01392 278426<br /> 
							E: hello@hoy.co.uk
						</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="bottom-article">
						<h3>We're social...</h3>
						<p>
							<a onmouseover="document.MyImage1.src='http://mr3.homeflow.co.uk/files/site_asset/image/2511/3019/twitter-bird-light-bgs111.png';" onmouseout="document.MyImage1.src='http://mr3.homeflow.co.uk/files/site_asset/image/2508/6243/twitter-bird-light-bgs1.png';" href="https://twitter.com/PaulWattsEstAgt" target="_blank"><img src="http://mr3.homeflow.co.uk/files/site_asset/image/2508/6243/twitter-bird-light-bgs1.png" alt="" name="MyImage1" /></a> <a onmouseover="document.MyImage1.src='http://mr3.homeflow.co.uk/files/site_asset/image/2511/3019/twitter-bird-light-bgs111.png';" onmouseout="document.MyImage1.src='http://mr3.homeflow.co.uk/files/site_asset/image/2508/6243/twitter-bird-light-bgs1.png';" href="https://twitter.com/PaulWattsEstAgt" target="_blank">Follow us on twitter</a>	
						</p>
						<p>
							<a onmouseover="document.MyImage2.src='http://mr0.homeflow.co.uk/files/site_asset/image/2506/5628/facebook_button.png';" onmouseout="document.MyImage2.src='http://mr3.homeflow.co.uk/files/site_asset/image/2508/6239/facebook_buttongs.png';" href="https://www.facebook.com/PaulWattsEstateAgents"><img style="margin-left: -1px; margin-bottom: 5px;" src="http://mr3.homeflow.co.uk/files/site_asset/image/2508/6239/facebook_buttongs.png" alt="" name="MyImage2" /></a> <a onmouseover="document.MyImage2.src='http://mr0.homeflow.co.uk/files/site_asset/image/2506/5628/facebook_button.png';" onmouseout="document.MyImage2.src='http://mr3.homeflow.co.uk/files/site_asset/image/2508/6239/facebook_buttongs.png';" href="https://www.facebook.com/PaulWattsEstateAgent" target="_blank">Like us on Facebook</a>
						</p>
						<p>
							<a onmouseover="document.MyImage3.src='http://mr1.homeflow.co.uk/files/site_asset/image/2516/2209/linked-in__2_.png';" onmouseout="document.MyImage3.src='http://mr2.homeflow.co.uk/files/site_asset/image/2508/6250/linked-ings.png';" href="http://www.linkedin.com/company/3072769?goback=%2Efcs_GLHD_paul+watts_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=ncsrch_hits"><img onmouseover="document.MyImage3.src='http://mr1.homeflow.co.uk/files/site_asset/image/2516/2209/linked-in__2_.png';" onmouseout="document.MyImage3.src='http://mr2.homeflow.co.uk/files/site_asset/image/2508/6250/linked-ings.png';" src="http://mr2.homeflow.co.uk/files/site_asset/image/2508/6250/linked-ings.png" alt="" name="MyImage3" style="margin-left:1px"/></a>&nbsp;&nbsp;<a onmouseover="document.MyImage3.src='http://mr1.homeflow.co.uk/files/site_asset/image/2516/2209/linked-in__2_.png';" onmouseout="document.MyImage3.src='http://mr2.homeflow.co.uk/files/site_asset/image/2508/6250/linked-ings.png';" href="http://www.linkedin.com/company/3072769?goback=%2Efcs_GLHD_paul+watts_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=ncsrch_hits" target="_blank">Follow us on LinkedIn</a>
						</p>
					</div>
				</div>
				<div class="col-lg-2">
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p><a href="">Legal Information</a> | <a href="">Privacy Policy</a> | <a href="">Copyright &copy; Hoy</a></p>
			</div>
		</div>
    </footer>

    <script type="text/javascript">
      $(document).ready(function(){ 
        Ctesius.init()
      });
    </script>
  </body>
</html>
