
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {{ "application" | javascript_include_tag }}
    {{ "application" | stylesheet_link_tag }}
	{{ "bootstrap" | theme_stylesheet_link_tag }}
    {{ "hoy" | theme_stylesheet_link_tag }}
	{{ "forms" | theme_stylesheet_link_tag }}
    {{ "font-awesome" | stylesheet_link_tag }}
	
	<script>
		$(function(){
			$('.fadein img:gt(0)').hide();
			setInterval(function(){$('.fadein :first-child').fadeOut(900).next('img').fadeIn(900).end().appendTo('.fadein');}, 3700);
		});	
	</script>
	
  </head>

  <body>
    {% include 'layouts/js_templates' %}
	
	<div class="navbar navbar-inverse">
		<div class="container">
			<a href="#">
				<img src="{{'hoy.png' | theme_image_url}}" class="logo1">
			</a>
			<div class="nav">	
				<a href="" class="selected">Home</a> | 
				<a href="">Sales</a> | 
				<a href="">Lettings</a> | 
				<a href="">Services</a> |
				<a href="">Branches</a> | 
				<a href="">About</a> |
				<a href="">Contact</a>
			</div>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			<div class="col-lg-6">
				<div class="fadein">
					<img src="{{'beautiful-property.jpg' | theme_image_url}}">
					<img src="{{'bp2.jpg' | theme_image_url}}">
				</div>
			</div>
			<div class="col-lg-6">		  
			    <div class="propertySearchBox" id="search_form">
					  <form action='/search' id='search' method='get' onsubmit="return false;" class="advanced">
					  <fieldset id="search-fields">
						<input type='hidden' id ='place_id' name='place_id' value='{{place_id}}' class='search' / >
						<div class="search_wrapper" id="row1">
						  <div class="search_row">        
							<input data-provide="typeahead" class='search' placeholder='Town or Postcode' type="text" id='location' name="location" value="{{location_field}}" onUnfocus="this.theform.submit()"/>
						  </div>
						</div>
						<div class="search_wrapper" id="row2">
						  <div class="search_row">
							<div>
							  <select id="min_beds" class="formelement_bg search" name='min_beds'>
								<option value="" title="Min beds">Beds min</option>
								<option value="1" title="1 Bed">1 bed</option>
								<option value="2" title="2 Beds">2 beds</option>
								<option value="3" title="3 Beds">3 beds</option>
								<option value="4" title="4 Beds">4 beds</option>
								<option value="5" title="5 Beds">5 beds +</option>
							  </select>
							  <select id="max_beds" class="formelement_bg search" name='max_beds'>
								<option value="" title="Min beds">Beds max</option>
								<option value="1" title="1 Bed">1 bed</option>
								<option value="2" title="2 Beds">2 beds</option>
								<option value="3" title="3 Beds">3 beds</option>
								<option value="4" title="4 Beds">4 beds</option>
								<option value="5" title="5 Beds">5 beds +</option>
							  </select><br />
							  <select id="min_price" class="formelement_bg search" name='min_price'>
								<option value="" title="Min price">Price min</option>
							  </select> 
							  <select id="max_price" class="formelement_bg search" name='max_price'>
								<option value="" title="Max price">Price max</option>
							  </select><br />
							  <select id="type" class="formelement_bg search" name='type'>
								  <option value="" title="Max beds">Property type</option>
								  {{ agency | tag_dropdown_list }}
							  </select>
							</div>
						  </div>
						</div>
					  </fieldset>
					  <div class="submit">
						  <button onclick="Ctesius.Actions.submitSearchForm(); return false;" type="submit" class="btn">Search</button>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
    {{ content_for_layout }}
    <footer>
      	<div class="bottom">
			<div class="container">
				<div class="col-lg-4">
					<div class="bottom-article">
						<h3>Find us here...</h3>
						<div id="map-canvas"></div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="bottom-article">
						<h3>Contact us...</h3>
						<p>
							108 Fore St <br /> 
							City Centre, <br /> 
							Exeter<br /> 
							EX4 3HY
						</p>
						<p>
							T: 01392 278426<br /> 
							E: hello@hoy.co.uk
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="bottom-article">
						<h3>Opening hours...</h3>
						<dl>
							<dt>Monday</dt>
							<dd>10.30am - 7.00pm</dd>
							<dt>Tuesday</dt>
							<dd>9:00am - 5:30pm</dd>
							<dt>Wednesday</dt>
							<dd>9:00am - 6:00pm</dd>
							<dt>Thursday</dt>
							<dd>9:00am - 7:00pm</dd>
							<dt>Friday</dt>
							<dd>9:00am - 5:30pm</dd>
							<dt>Saturday</dt>
							<dd>9:00am - 4:00pm</dd>
							<dt>Sunday</dt>
							<dd>Closed</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p><a href="">Legal Information</a> | <a href="">Privacy Policy</a> | <a href="">Copyright &copy; Hoy</a></p>
			</div>
		</div>
    </footer>

    <script type="text/javascript">
      $(document).ready(function(){ 
        Ctesius.init()
      });
    </script>
  </body>
</html>
