
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {{ "application" | javascript_include_tag }}
    {{ "application" | stylesheet_link_tag }}
	{{ "bootstrap" | theme_stylesheet_link_tag }}
    {{ "hoy" | theme_stylesheet_link_tag }}
    {{ "font-awesome" | stylesheet_link_tag }}
	
	<script>
		$(function(){
			$('.fadein img:gt(0)').hide();
			setInterval(function(){$('.fadein :first-child').fadeOut(900).next('img').fadeIn(900).end().appendTo('.fadein');}, 3700);
		});	
	</script>
	
  </head>

  <body>
    {% include 'layouts/js_templates' %}
	
	<div class="navbar navbar-inverse">
		<div class="container">
			<a href="#">
				<img src="assets/images/hoy.png" class="logo1"/>
			</a>
			<div class="nav">	
				<a href="" class="selected">Home</a> | 
				<a href="">Sales</a> | 
				<a href="">Lettings</a> | 
				<a href="">Services</a> |
				<a href="">Branches</a> | 
				<a href="">About</a> |
				<a href="">Contact</a>
			</div>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			<div class="col-lg-6">
				<div class="fadein">
					<img src="assets/images/beautiful-property.jpg" />
					<img src="assets/images/bp2.jpg" />
				</div>
			</div>
			<div class="col-lg-6">
				<div class="banner-overlay">
					 <form id='search' class="navbar-form pull-right" onsubmit="Ctesius.Actions.submitSearchForm({channel:'sales'}); return false;">
					  <input type="text" id='location' placeholder="POSTCODE, STREET OR AREA"> 
					  <button onclick="Ctesius.Actions.submitSearchForm({channel:'lettings'}); return false;" type="submit" class="btn">Sales</button>
					  <button onclick="Ctesius.Actions.submitSearchForm({channel:'sales'}); return false;" type="submit" class="btn">Lettings</button>
					</form>
				</div>
			</div>
		</div>
	</div>
    {{ content_for_layout }}
    <footer>
      	<div class="bottom">
			<div class="container">
				<div class="col-lg-4">
					<div class="bottom-article">
						<h3>Find me here...</h3>
						<div id="map-canvas"></div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="bottom-article">
						<h3>Contact me...</h3>
						<p>
							108 Fore St <br /> 
							City Centre, <br /> 
							Exeter<br /> 
							EX4 3HY
						</p>
						<p>
							T: 01392 278426<br /> 
							E: hello@hoy.co.uk
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="bottom-article">
						<h3>Opening hours...</h3>
						<dl>
							<dt>Monday</dt>
							<dd>10.30am - 7.00pm</dd>
							<dt>Tuesday</dt>
							<dd>9:00am - 5:30pm</dd>
							<dt>Wednesday</dt>
							<dd>9:00am - 6:00pm</dd>
							<dt>Thursday</dt>
							<dd>9:00am - 7:00pm</dd>
							<dt>Friday</dt>
							<dd>9:00am - 5:30pm</dd>
							<dt>Saturday</dt>
							<dd>9:00am - 4:00pm</dd>
							<dt>Sunday</dt>
							<dd>Closed</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p><a href="">Legal Information</a> | <a href="">Privacy Policy</a> | <a href="">Copyright &copy; Hoy</a></p>
			</div>
		</div>
    </footer>

    <script type="text/javascript">
      $(document).ready(function(){ 
        Ctesius.init()
      });
    </script>
  </body>
</html>
