{% push_to_header %}
	<div class="col-lg-12">
		<h3> {{current_channel.dictionary.general_collective | capitalize}}  {{current_channel.dictionary.preposition}} {{search.geospacial_description}} <span> {{ location.name }}, {{ county.name }} </span> </h3>
		{% include 'common_chunks/list_nav' %}
	</div>
{% endpush_to_header %}

<div class='togglable_area' id='togglable_list'>
	{% include 'properties/properties_list' %}
</div>
<div class='togglable_area hidden' id='togglable_map'>
	<div id='draggable_map_view'></div>
</div>

<hr style="margin-top:0"/>
{% include 'common_chunks/bottom_list_nav' %}