{% for news_article in articles %}

	{% if news_article.promo_image %}
		<a href="/articles/{{news_article.slug}}">
			<img src="{{news_article.promo_image | url_for_generic_image : "67x66"}}" class="articles-img" style="margin-top:10px;"/>
		</a>
	{% endif %}
	<h4>
		<a href="/articles/{{news_article.slug}}">{{ news_article.title }}</a>
	</h4>
	<p>
		{{ news_article.promo | truncate :200 }} 
		<br />
		<a href="/articles/{{ news_article.slug }}" style="font-size:small">Read more</a>
	</p>
	<hr />
	
{% endfor %}
